@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-repeat: no-repeat;
    min-height: 100vh;
    background: linear-gradient(to bottom, #8B005D, #3B0033);
}

header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 100svb;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    /* background-color: #004fb8; */
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
}

iframe {
    display: flex;
    margin: auto;
    max-width: 70%;
}

main {
    display: flex;
    align-items: start;
    flex-direction: column;
}

#slider-title {
    display: flex;
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 24px 0;
}

.swiper {
  width: 90%;
  max-width: 600px;
  height: auto;
  margin: auto;
}

.swiper-slide {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: auto;
}

.fotos {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 400px;
    margin: auto;
    border-radius: 15px;
    border: 0 solid white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    padding: 10px;
    background: linear-gradient(45deg, rgba(255, 110, 196, 0.8), rgba(120, 115, 245, 0.8));
}

.swiper-wrapper {
    display: flex;
    margin: 0 auto;
}

section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#timer-text{
    font-size: 24px;
    color: #fff;
    padding: 20px;
    margin: auto;
    text-align: center;
}

#timer p{
    margin: auto;
    align-items: center;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(90deg, #f06ab9, #a87ffb); /* rosa claro até roxo claro */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* para navegadores modernos */
    color: transparent;

}

footer {
    padding: 30px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer div label {
    text-align: center;
    font-size: medium;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
    padding: 12px;
    border: 2px solid #a87ffb;
    border-radius: 8px;
    font-size: 16px;
    resize: none; /* impede redimensionamento manual */
    box-shadow: 0 0 10px rgba(0, 79, 184, 0.1);
    outline: none;

    transition: border-color 0.3s, box-shadow 0.3s;
  }

  textarea:focus {
    border-color: #002e7a;
    box-shadow: 0 0 12px rgba(0, 79, 184, 0.3);
  }

article {
  background: rgba(255, 255, 255, 0.05); /* Cor clara e transparente */
  border-radius: 16px;
  padding: 20px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px); /* Para compatibilidade */
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  margin-bottom: 50px;
}

article p {
    color: #ffffff91;
    font-size: 18px;
}

footer button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);  
    margin-top: 30px;
}

.swiper-pagination{
    display: none;
}
